html,
body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section {
    &-title {
        font-size: 30px;
        font-weight: 700;
        color: #6305a6;
    }

    &-sub-title {
        font-size: 20px;
        font-weight: 700;
    }

    &-text {
        margin: 15px 0px;
        font-size: 20px;
    }

    @media (max-width: 769px) {
        &-title {
            font-size: 20px;
            margin: 0px;
        }

        &-sub-title {
            font-size: 16px;
        }

        &-text {
            font-size: 16px;
        }
    }
}

.main-banner {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./assets/img/banner/main-banner1.jpeg");
}

.body-container {
    width: 70%;
    margin: auto;

    @media (max-width: 769px) {
        width: 95%;
    }
}

.line {
    border: solid rgb(216, 216, 216) 1px !important
}

.title-banner {
font-size: 2.5rem;
@media (max-width: 769px) {
    font-size: 1.7rem;
    width: 52%;
    }
}

.sub-banner-title {
@media (max-width: 769px) {
font-size: 1.5rem;
    }
}

.coming-soon {
@media (max-width: 769px) {
        margin-top: -2.5rem !important;
        font-size: 1.3rem !important;
    }
}
.text-justify {
    text-align: justify !important;
}